@tailwind base;
@tailwind components;
@tailwind utilities;



.Log{
    background-image: url(../src/assets/subtle-cinematics-acZd3gWgfOw-unsplash.jpg);
    background-size:cover;
    background-position: center;
    
}